/* --- STYLE BASICS --- */

//import variables & separate style sections
@import 'base/variables';
@import 'base/jquery-ui';
@import 'layout/_header.scss';
@import 'layout/_burger.scss';
@import 'layout/_solarsys.scss';
@import 'layout/_slider.scss';
@import 'layout/_playbutton.scss';
@import 'layout/_info.scss';
@import 'layout/_planet.scss';
@import 'layout/_row.scss';
@import 'layout/_planets.scss';
@import 'layout/_quiz.scss';
@import 'layout/_solution.scss';



//font for main headings
@font-face { 
    font-family: "ASTROLYTT"; 
    src: url("../fonts/astrolyt.ttf") format("truetype");
}

/* to set margin & padding for the entire page to 0
-* {
-    margin: 0;
-    padding: 0;
-
-}
-*/

body{
    font-family: Roboto;
    background: url('../images/star_background.jpg');
    background-size: cover;
    
    h1{
        color: $zodiacpurple;
        font-family: Astrolytt;
        top: 3.125em !important;
        height: 100%;
        padding-top: 0.7em;
        /*padding-left: 1.4em;*/
        text-align: center;
    }
    p{
        color: $noir;
    }
    
    #TEST{
        background: green;
    }
}
