/* --- STYLE BASICS --- */

//import variables & separate style sections
@import 'base/variables';
@import 'base/jquery-ui';
@import 'layout/_header.scss';
@import 'layout/_burger.scss';
@import 'layout/_solarsys.scss';
@import 'layout/_slider.scss';

//font for main headings
@font-face { 
    font-family: "ASTROLYTT"; 
    src: url("../fonts/astrolyt.ttf") format("truetype");
}

/* to set margin & padding for the entire page to 0
* {
    margin: 0;
    padding: 0;

}
*/

body{
    font-family: Roboto;
    h1{
        color: $zodiacpurple;
        font-family: Astrolytt;
    }
    p{
        color: $noir;
    }
}

