/*
 * Made by Erik Terwan
 * 24th of November 2015
 * All rights reserved
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

 body {
  margin: 0;
  padding: 0;
  /* make it look decent enough */
  background: #232323;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
  overflow-x: hidden;
  /* needed because hiding the menu on the right side is not perfect,  */
}

a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
  &:hover {
    color: $cosmicblue;
    font-style: italic;
  }
}

#menuToggle {
  display: block;
  position: absolute;
  top: 3.125em;
  right: 3.125em;
  z-index: 50;
  -webkit-user-select: none;
  user-select: none;
  input {
    display: block;
    width: 2.500em;
    height: 2.000em;
    position: absolute;
    top: -0.438em;
    left: -0.313em;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 100;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  span {
    z-index: 99;
    display: block;
    width: 2em;
    height: 0.250em;
    margin-bottom: 0.313em;
    position: relative;
    background: $zodiacpurple;
    border-radius: 0.188em;
    transform-origin: 0.250em 0;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    &:first-child {
      transform-origin: 0% 0%;
    }
    &:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
  }
  input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-0.125em, 0.063em);
    background: #232323;
    &:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    &:nth-last-child(2) {
      opacity: 1;
      transform: rotate(-45deg) translate(0, -1px);
    }
  }
}

/*
 * Just a quick hamburger
 */

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */

/*
 * But let's hide the middle one.
 */

/*
 * Ohyeah and the last one should go the other direction
 */

/*
 * Make this absolute positioned
 * at the top left of the screen
 */

#menu {
  position: absolute;
  width: 16em;
  margin: -7em 0 0 0;
  padding-bottom: 4em;
  padding-right: 4em;
  padding-top: 8em;
  padding-left: 5em !important;
  right: -3.5em;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    z-index: 25;
  li {
    padding: 0.5em 0;
    font-size: 1.3em;
  }
}

/*
 * And let's fade it in from the left
 */

#menuToggle input:checked ~ ul {
  transform: scale(1, 1);
  opacity: 1;
}