#info{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        width: 20%;
        margin: 1em 0;
    }
    #cont{
        flex-direction: column;
        justify-content: center;
        p{
            color: $noir;
            width: 80%;
        }
        background: $softblanc;
        margin-top: 2em;
        margin-bottom: 5em;
        width: 50%;
        opacity: 0.85;
        padding: 1.5em;
        border: 0.05em solid $softblanc;
        border-radius: 1.3em;
    }
}