#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    #hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.5em;
        #p_img {
            width: 5em;
            height: 5em;
            background-image: url('../../images/planets/earth.png');
            background-size: cover;
        }
    }
    
    #main_cont {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 80%;
        padding-bottom: 5em;
        #desc {
            h2 {
                font-family: Astrolytt;
                margin: 0;
                font-size: 1.5em;
                color: $zodiacpurple;
            }
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 45%;
            #cont_desc {
                margin-top: 5%;
                background: $softblanc;
                opacity: 0.85;
                width: 80%;
                border: 1px solid $softblanc;
                border-radius: 0.752em;
                ul {
                    color: $noir;
                    line-height: 2em;
                    li:before {
                        content: "\2605";
                        margin: 0 1em;
                    }
                }
            }
        }   
        #galery {
            display: flex;
            flex-direction: column;
            width: 45%;
            align-items: flex-end;
            h2 {
                text-align: right;
                font-family: Astrolytt;
                margin: 0;
                font-size: 1.5em;
                color: $zodiacpurple;
                width: 100%;
            }
            #imgs {
                margin-top: 5%;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                opacity: 0.85;
                width: 80%;
                img {
                    height: 6em;
                    width: 6em;
                    margin-left: 5%;
                    margin-bottom: 5%;
                    border: 0.035em solid $softblanc;
                    border-radius: 1em;
                }
            }
        }
    }
}

