#play {
    height: 2em;
    z-index: 25;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}
#home{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}