#planetrow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    #sonne {
        width: 90%;
        height: 90%;
        background-image: url('../../images/planets/sun.png');
        background-size: cover;
        &:hover{
            border-radius: 50%;
            box-shadow: 0 0 6em $softblanc;
            background-color: rgba($softblanc, 0.4);
        }
    }
    #mercury {
        width: 60%;
        height: 60%;
        background-image: url('../../images/planets/mercury.png');
        background-size: cover;
        &:hover{
            border-radius: 50%;
            box-shadow: 0 0 6em $softblanc;
            background-color: rgba($softblanc, 0.4);
        }
    }
    #venus {
        width: 65%;
        height: 65%;
        background-image: url('../../images/planets/venus.png');
        background-size: cover;
        &:hover{
            border-radius: 50%;
            box-shadow: 0 0 6em $softblanc;
            background-color: rgba($softblanc, 0.4);
        }
    }
    #earth {
        width: 80%;
        height: 80%;
        background-image: url('../../images/planets/earth.png');
        background-size: cover;
        &:hover{
            border-radius: 50%;
            box-shadow: 0 0 6em $softblanc;
            background-color: rgba($softblanc, 0.4);
        }
    }
    #mars {
        width: 70%;
        height: 70%;
        background-image: url('../../images/planets/mars.png');
        background-size: cover;
        &:hover{
            border-radius: 50%;
            box-shadow: 0 0 6em $softblanc;
            background-color: rgba($softblanc, 0.4);
        }
    }
    #jupiter {
        width: 95%;
        height: 95%;
        background-image: url('../../images/planets/jupiter.png');
        background-size: cover;
        &:hover{
            border-radius: 50%;
            box-shadow: 0 0 6em $softblanc;
            background-color: rgba($softblanc, 0.4);
        }
    }
    #saturn {
        width: 95%;
        height: 95%;
        background-image: url('../../images/planets/saturn.png');
        background-size: cover;
        &:hover{
            border-top-left-radius: 10%;
            border-top-right-radius: 50%;
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 10%;
            box-shadow: 0 0 6em $softblanc;
            background-color: rgba($softblanc, 0.4);
        }
    }
    #uranus {
        width: 70%;
        height: 70%;
        background-image: url('../../images/planets/uranus.png');
        background-size: cover;
        &:hover{
            border-top-left-radius: 50%;
            border-top-right-radius: 20%;
            border-bottom-left-radius: 20%;
            border-bottom-right-radius: 50%;
            box-shadow: 0 0 4em $softblanc;
            background-color: rgba($softblanc, 0.4);
        }
    }
    #neptune {
        width: 60%;
        height: 60%;
        background-image: url('../../images/planets/neptune.png');
        background-size: cover;
        &:hover{
            border-radius: 50%;
            box-shadow: 0 0 6em $softblanc;
            background-color: rgba($softblanc, 0.4);
        }
    }     
}




#planetrow{
    a {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

    a .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: $softblanc2;
        color: $noir;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 50%;
        margin-left: -60px;
    }

    a .tooltiptext::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent $softblanc2 transparent;
    }

    a:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
}