#planetrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    height: 12em;
    #sonne {
        width: 90%;
        height: 90%;
        background-image: url('../../images/planets/sun.png');
        background-size: cover;
        &:hover{
            width: 11em;
            height:11em;
        }
    }
    #mercury {
        width: 60%;
        height: 60%;
        background-image: url('../../images/planets/mercury.png');
        background-size: cover;
        &:hover{
                    width: 5.5em;
                    height: 5.5em;
                }
    }
    #venus {
        width: 65%;
        height: 65%;
        background-image: url('../../images/planets/venus.png');
        background-size: cover;
        &:hover{
                    width: 6.1em;
                    height: 6.3em;
                }
    }
    #earth {
        width: 80%;
        height: 80%;
        background-image: url('../../images/planets/earth.png');
        background-size: cover;
        &:hover{
                    width: 6.5em;
                    height: 6.5em;
                }
    }
    #mars {
        width: 70%;
        height: 70%;
        background-image: url('../../images/planets/mars.png');
        background-size: cover;
        &:hover{
                    width: 6em;
                    height: 5.9em;
                }
    }
    #jupiter {
        width: 95%;
        height: 95%;
        background-image: url('../../images/planets/jupiter.png');
        background-size: cover;
        &:hover{
                    width: 8.6em;
                    height: 8.4em;
                }
    }
    #saturn {
        width: 95%;
        height: 95%;
        background-image: url('../../images/planets/saturn.png');
        background-size: cover;
        &:hover{
                    width: 10.6em;
                    height: 7.8em;
                }
    }
    #uranus {
        width: 70%;
        height: 70%;
        background-image: url('../../images/planets/uranus.png');
        background-size: cover;
        &:hover{
                    width: 7.4em;
                    height: 7.2em;
                }
    }
    #neptune {
        width: 60%;
        height: 60%;
        background-image: url('../../images/planets/neptune.png');
        background-size: cover;
        &:hover{
                    width: 5.8em;
                    height: 5.6em;
                }
    }     
}