#question.incorrect{
    p{
        border: 2px solid red;
    }
}
#question.correct{
    p{
        border: 3px solid #039403
    }
}

#radios_answer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
    p{
        background: $softblanc2;
    }

    .option-input {
        height: 40px;
        width: 40px;


        &.rad {
            border-radius: 50%;
            &::after {
              border-radius: 50%;
            }
        }
    }
    .correct {
        background: $cosmicblue;
        &::before {
            height: 40px;
            width: 40px;
            content: '✔';
            display: inline-block;
            font-size: 1.5em;
            text-align: center;
            line-height: 40px;
            color: #f6f6f6;
        }
    }
    .true{
        &::before{
            width: 38px;
            line-height: 37px;
        }
        border: 2px solid #039403;
    }
    .false{
        &::before{
            width: 38px;
            line-height: 37px;
        }
        border: 2px solid red;
    }
}


#sol{
    display: flex;
    justify-content: space-between !important;
    margin-bottom: 5em;
    #score{
        width: 60%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 1.3em;
        color: $softblanc;
        p{
            margin-left: 0.5em;   
            color: $softblanc;
            border: 0.15em solid $softblanc;
            border-radius: 0.2em;
            padding: 0.3em;
        }
    }
    #done{
        width: 25%;
        display: inherit;
        justify-content: center;
        align-items: center;
        .submit{
            background: $zodiacpurple;
            padding: 0.7em 1.2em;
            border-radius: 0.5em;
            border: 0em solid $zodiacpurple;
            box-shadow: 0.15em 0.15em 0.38em $softblanc;
            font-size: 1.3em;
            &:hover{
                font-style: italic;
                padding: 0.7em 1.15em;
                cursor: pointer;
            }
        }
    }
}
